html, body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(229,229,229);
}
body{
    background-image: url(imagens/decorar\ o\ pinto.jfif);
}
article, aside, section, header, footer, nav {
    display:block;
}
main {
    width: 960px;
    background-color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px #666;
    margin: 10px auto;
    padding: 10px;
}
header {
    padding: 25px;
    background-color: rgb(255, 102, 51);
    text-align: center;
    margin-bottom:20px ;
}
header h1{
    font-size: 1.3em;
    color: white;
}
.janela1 {
    background-image: url(imagens/ricardão.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 600px;
    float: left;
    padding: 20px;
}
.janela2 {
   background-image:url(imagens/download.jfif);
   background-repeat: no-repeat;
   height: 500px;
   margin-left: 660px;
   padding: 20px;
}
footer {
    padding: 5px;
    background-color: rgb(294,153,51);
    text-align: center;
    color: white;
    clear: both;
    margin-top: 20px;
}
