body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    background-image: url(/imagens/Fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:40px;
    color: #f93;
    letter-spacing: -0.05;
    text-shadow: 1px 1px 1px #666;
}


h2 {font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-size: 20px;
color: #fc6;
text-shadow: 1px 1px 1px #666;
}

p, li, section {
    color: #333;
    margin-bottom: 5px;
}

section {
    margin-bottom: 100px;
}

li {font-family: 'Dancing Script', cursive;

}

footer {
    height: 350px;
}