body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Trebuchet Ms", Arial, Helvetica, sans-serif;
}
#menu {
    width: 600px;
    margin: 0 auto;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu ul li {
    float: left;
    position: relative;
    list-style-type: none;
}
#menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 10px;
    border: 1px solid darkgray;
    margin-right: -5px;
    width: 100px;
}
#menu ul li ul {
    display: none;
    position: absolute;
    padding-top: 5px;
}
#menu ul li ul li a {
    width: 110px;
    margin-top: -1px;
}
#menu ul li ul li a {
    background-color: #ddd;
}
#menu li:hover ul {
    display: block;
}
#menu ul li a:hover {
    background-color:#ddd
}